@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --fonte-padrao: 'Arial', sans-serif
}

.padrao {
    color: white;
    font-family: var(--fonte-padrao);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2a0f1a;
}

header {
    background-color:#a01203;
}

header > h1 {
    font-family: 'Anton', sans-serif;;
    color: white;
    text-align: center;
}

hr {
    color: #a01203;
    width: 120px;
    margin: 40px auto 40px auto;
    border-style: solid;
}

main {
    padding: 10px;
    background-color: white;
}

article {
    margin: auto;
    max-width: 800px;
    min-width: 320px;
}

article > h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    margin-top: 60px;
    color: #4d4d4d;
 
}

article > p {
    font-family: 'Arial', sans-serif;
    line-height: 30px;
    margin-bottom: 40px;
}

article > img {
    display: block;
    margin: auto;
    max-width: 100%;

}